.content {
    display: flex;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout-sub-header-background {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.site-layout-background {
    background: #fff;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.crumb {
    margin-top: 20px !important;
}